@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

:root {
  --text-color: whitesmoke;
}

html {
  height: 100%;
}

body {
 font-family: 'Roboto', sans-serif;
 background-image: url("https://images4.alphacoders.com/551/551467.png");
 background-size: cover;
}

.converter {
	background: rgb(50, 50, 50, 0.9);
	width: 35rem;
	margin: 3rem auto;
	border-radius: 25px;
  text-align: center;
}

.logo-imersao-dev {
  width: 20rem;
  margin: 1rem 0 0 4.5rem;
}

.logo-alura {
  margin: 0 0 0 28.5rem;
}

h1 {
  margin: 12px;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 0 3rem 0 3rem;
  text-align: center;
}

h2 {
  margin: 0; 
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;
  text-align: center;
}

button {
  border: 0;
  color: #000;
  background: #fada06;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s;
}

label img {
  margin-left: 200%;
}

label img:hover {
  cursor: pointer;
}

/* === MOSTRAR MOEDAS/TEMPERATURA/DISTANCIA ==== */

.primeiro_valor, .segundo_valor {
  display: flex;
}

.tipo {
  display: block;
	font-size: 2rem;
	color: rgb(150, 150, 150);
  margin: 14px 0;
  width: 40%;
}

.tipo_de, .tipo_para {
	font-size: 2rem;
  color: rgb(35, 35, 35);
	width: 8rem;
	padding: 0.75rem;
	margin: 0.05rem 1.25rem 1.75rem 5.25rem;
}

#valor_converter {
	font-size: 2rem;
  color: rgb(35, 35, 35);
	width: 13.5rem;
	padding: 0.75rem;
	margin: 0.05rem 1.25rem 1.75rem 0;
}

#valor_para {
  background-color: white; 
	font-size: 2rem;
  color: rgb(35, 35, 35);
	width: 13.5rem;
	padding: 0.75rem;
	margin: 0.05rem 1.25rem 1.75rem 0;
}

.valor_para::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn {
  width: 100%;
	color: rgb(30, 30, 30);
	background: #fada06;
	text-transform: uppercase;
	font-size: 2rem;
	padding: 1.25rem;
	text-align: center;
	margin: 1.5rem 0 0 0;
	transition: 200ms;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

button:hover {
	background: rgb(153, 255, 153);
}